[submodule "circuits/HelloNoir/lib/forge-std"]
	path = circuits/HelloNoir/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "circuits/sujiko/lib/forge-std"]
	path = circuits/sujiko/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "circuits/sudoku/lib/forge-std"]
	path = circuits/Sudoku/lib/forge-std
	url = https://github.com/foundry-rs/forge-std

[submodule "noir-builds/Eth-Splitter/lib/forge-std"]
	path = noir-builds/Eth-Splitter/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "noir-builds/Eth-Splitter/lib/openzeppelin-contracts"]
	path = noir-builds/Eth-Splitter/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
